/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



/* My Form */
.form {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.form input {
  padding: 8px 12px;
  font-size: 16px;
  width: 250px;
}

.form button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* My Gallery */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  display: block;
}

/ Інь-Янь Лоадер */

.loader {
  width: 96px;
  height: 48px;
  box-sizing: content-box;
  background: #ffffff;
  border-color: #de3500;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite, glowPulse 2s ease-in-out infinite;
  margin: 20px auto;
  display: block;

  /* М’яке світіння */
  box-shadow:
    0 0 10px rgba(222, 53, 0, 0.6),
    0 0 25px rgba(222, 53, 0, 0.4),
    0 0 40px rgba(222, 53, 0, 0.2);
}

.loader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #ffffff;
  border: 18px solid #de3500;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;

  /* Glow */
  box-shadow:
    0 0 10px rgba(222, 53, 0, 0.6),
    0 0 20px rgba(222, 53, 0, 0.3);
}

.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #de3500;
  border: 18px solid #ffffff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;

  /* Glow */
  box-shadow:
    0 0 10px rgba(222, 53, 0, 0.6),
    0 0 20px rgba(222, 53, 0, 0.3);
}

@keyframes yinYang {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 10px rgba(222, 53, 0, 0.6),
      0 0 25px rgba(222, 53, 0, 0.4),
      0 0 40px rgba(222, 53, 0, 0.2);
  }

  50% {
    box-shadow:
      0 0 20px rgba(222, 53, 0, 0.8),
      0 0 35px rgba(222, 53, 0, 0.5),
      0 0 60px rgba(222, 53, 0, 0.3);
  }

  100% {
    box-shadow:
      0 0 10px rgba(222, 53, 0, 0.6),
      0 0 25px rgba(222, 53, 0, 0.4),
      0 0 40px rgba(222, 53, 0, 0.2);
  }
}

.is-hidden {
  display: none;
}